:root {
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 16px; /* 1rem = 10px  */
    font-family: 'Krub', sans-serif;
}


.titulo {
    text-align: center;
    font-size: 3.8rem;
    
}


.titulo span {
    font-size: 2rem;
}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}

.navegacion-principal {
    display: flex;
    justify-content: space-between;
}

.navegacion-principal a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
}

.nav-bg {
    background-color: var(--secundario);
}

.carousel {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    width: 300%;
    animation: slide 12s infinite;
}

.slide {
    width: 100%;
    background-color: pink;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    33% {
        transform: translateX(-100%);
    }

    
    66% {
        transform: translateX(-200%);
    }

    
    100% {
        transform: translateX(0%);
    }

}